<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsmResolver" version="4.3.0" targetFramework="net472" />
  <package id="AsmResolver.DotNet" version="4.3.0" targetFramework="net472" />
  <package id="AsmResolver.PE" version="4.3.0" targetFramework="net472" />
  <package id="AsmResolver.PE.File" version="4.3.0" targetFramework="net472" />
  <package id="dnlib" version="3.3.2" targetFramework="net472" />
</packages>